#parent {
    width: 10%;
    height: 99px;
    margin: auto;
}

.inputA {
    width:30px;
    height:20px;
}
.inputB {
    display: none;
    width:30px;
    height:20px;
}
.inputC {
    width: 56px;
    height: 30px;
}

.divA{

}
.divB{

}
.canvas{
    clear: left;
    margin: -219px 0 0 219px;
}

.numberA{
    float: left;
    font-size: 200%;
}
.numberB{
    float: left;
    font-size: 200%;
}
.numberC{
    float: left;
    font-size: 200%;
}

.plus {
    float: left;
    font-size: 200%;
}
.sum {
    float: left;
    font-size: 200%;
}